.container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 70px;
  height: 100%;
  align-items: center;
  cursor: pointer;
}

.newsBody {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-evenly;
  gap: 5px;
}

.newsBody > h2 {
  font-weight: 500;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #ffffff;
  max-width: 511px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  white-space: pre-wrap;
}

.newsBody > p {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #ffffff;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  white-space: pre-wrap;
}

@media (max-width: 770px) {
  .image {
    width: 101px !important;
    height: 88px !important;
  }

  .container {
    gap: 24px;
  }

  .newsBody {
    gap: 0;
  }

  .newsBody > h2 {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
  }

  .newsBody > p {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    -webkit-line-clamp: 1;
  }

  .newsBody > p:nth-child(3) {
    font-size: 14px;
  }
}
