.navbarContainer > *,
.navbarContainer > * > * {
  display: inline-block;
}

.navbarContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  height: 78.36px;
  box-shadow: 0 2px 5px 3px rgb(0 0 0 / 39%);
  -webkit-box-shadow: 0 2px 5px 3px rgb(0 0 0 / 39%);
  -moz-box-shadow: 0 2px 5px 3px rgb(0 0 0 / 39%);
  z-index: 10;
}

.leftSide {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logoName {
  font-size: 30px;
  font-weight: 500;
  vertical-align: middle;
  padding: 0 10px;
}

.logoImageWarpper {
  width: 110px;
  height: auto;
  padding: 0 10px;
  cursor: pointer;
}

.logoImageWarpper > span {
  vertical-align: middle !important;
}
.navItemsContainer {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navItem {
  display: inline-block;
  height: fit-content;
  cursor: pointer;
  user-select: none;
}

.navItem > a {
  padding: 8px 10px;
  font-weight: 500;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}
.navItem > a:hover,
.navItem > a:active {
  background-color: #e4e4e4;
  border-radius: 100px;
}

.rightSide {
  height: 70%;
  width: 10rem;
  cursor: pointer;
  border-radius: 3px;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.rightSide > img {
  background-color: red;
  max-height: 40px;
  border-radius: 50%;
}

.rightSide:hover,
.rightSide:active {
  box-shadow: 0 2px 3px 0px rgb(0 0 0 / 39%);
  -webkit-box-shadow: 0 2px 3px 0px rgb(0 0 0 / 39%);
  -moz-box-shadow: 0 2px 3px 0px rgb(0 0 0 / 39%);
}

.login {
  background: #e50914;
  color: white;
  padding: 7px 17px;
  width: auto;
  height: auto;
}

.userOption {
  list-style-type: none;
  background-color: white;
  width: 100%;
  border-radius: 10px;
  margin: 0;
  padding: 8px 0;
  position: absolute;
  top: 110%;
  box-shadow: 0 2px 3px 0px rgb(0 0 0 / 39%);
  -webkit-box-shadow: 0 2px 3px 0px rgb(0 0 0 / 39%);
  -moz-box-shadow: 0 2px 3px 0px rgb(0 0 0 / 39%);
  opacity: 0;
  visibility: hidden;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}

.userOptionClicked {
  opacity: 1;
  visibility: visible;
}

.userOption > li {
  padding: 6px 16px;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}

.userOption > li:hover {
  background-color: rgba(0, 0, 0, 0.04);
}
.userOption > li:active {
  background-color: rgba(0, 0, 0, 0.329);
}
