.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 15px 20px;
  z-index: 5;
}

.child {
  margin-right: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  vertical-align: middle;
  border: 1px solid #ff204e;
  border-radius: 100px;
  padding: 10px;
  cursor: pointer;
  transition: all 0.2s;
}

.child:nth-child(1) {
  box-shadow: 3px 3px 3px 0px #0000007a;
}
.child:nth-child(2) {
  padding: 0 10px 0 0;
  border-color: white;
  background-color: rgb(0 0 0 / 31%);
  backdrop-filter: blur(5px);
}

.child > p {
  margin: 0;
  margin-left: 10px;
  font-size: 17px;
  color: #ff204e;
}

.child:first-child {
  background-color: #ff204e;
}

.child:first-child > p,
.child:nth-child(2) > p {
  color: white;
}

.child:hover,
.child:active {
  transform: scale(1.2);
}

@media only screen and (max-width: 800px) {
  .child {
    margin: 0;
  }
  .child:hover {
    transform: unset;
  }

  .child:active {
    transform: scale(1.2);
  }

  .container {
    justify-content: space-evenly;
  }
}
