.container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 24px;
  gap: 32px;
  width: calc(100% / 2 - 32px);
  background: #1e1e1e;
  border-radius: 5px;
  cursor: pointer;
}

.imageSection {
  height: 319px !important;
  width: unset !important;
}

.contentSection {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 32px;
  flex: 1 1 61%;
}

.contentSection > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 32px;
  width: inherit;
}

.title {
  height: 54px;
  font-weight: 600;
  font-size: 32px;
  line-height: 54px;
  text-align: start;
  color: #ffffff;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  line-clamp: 1;
  -webkit-line-clamp: 1;
  white-space: pre-wrap;
}

.category {
  width: inherit;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: #ffffff;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  line-clamp: 1;
  -webkit-line-clamp: 1;
  white-space: pre-wrap;
}

.story {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: #ffffff;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; /* start showing ellipsis when 3rd line is reached */
  white-space: pre-wrap;
}

@media (max-width: 1368px) {
  .imageSection {
    height: 280px !important;
  }

  .title,
  .category,
  .story {
    height: unset;
  }
  .title {
    font-size: 24px;
  }

  .category,
  .story {
    font-size: 20px;
  }

  .contentSection {
    gap: 16px;
  }

  .contentSection > div {
    gap: 16px;
  }
}
