.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 116px;
  gap: 64px;
}

.sortSection,
.catSection {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
}
.sortSection > p,
.catSection > p {
  width: 110px;
  height: 48px;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  text-decoration-line: underline;
  color: #ffffff;
}
.choices {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  column-gap: 32px;
  row-gap: 16px;
}

.btnContainer {
  padding: 10px;
  background: #1e1e1e;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
}

.btnContainer > p {
  font-weight: 600;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  color: #ffffff;
}

.active {
  background: #d100b2;
}

/* @media (max-width: 1368px) {
  .btnContainer > p {
    font-size: 20px;
    line-height: 28px;
  }

  .sortSection > p,
  .catSection > p {
    width: unset;
    height: unset;
    font-weight: 600;
    font-size: 24px;
    line-height: unset;
  }

  .choices {
    column-gap: 16px;
  }
} */
