.recommendation {
  display: flex;
  width: 266px;
  height: 72px;
  padding-right: 0px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.remoteImage > img {
  object-position: top !important;
}

.data {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 122px;
}

.title {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  color: #ffffff;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

.chapterNum {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  color: #ffffff;
}

.views {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: #d100b2;
}
