.container {
  height: 235px;
  display: flex;
  position: relative;
  z-index: 1;
  background: #000000;
}

.backgroundImage {
  background-image: url("../../public//images/footerBackground.jpg");
  background-color: rgba(0, 0, 0, 0.5);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  mix-blend-mode: hard-light;
  opacity: 0.1;
  position: absolute;
  inset: 0;
  z-index: -1;
}

.footerContent {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 50px;
  gap: 35px;
  height: 235px;
}

.footerNav {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 25px;
}

.navTabs {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 40px;
}
.navTabs > a {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  color: #ffffff;
}

.policy {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.termsContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
}

.policy > p,
.termsContainer > a > p,
.copyrightsContainer > a {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  color: #ffffff;
}

.logoContainer {
  width: 150px;
  height: 48px;
  margin-right: 24px;
  position: relative;
  cursor: pointer;
}

.logo {
  width: 150px !important;
  height: 48px !important;
}

.copyrightsContainer {
  display: flex;
  flex-direction: column;
}

.devName {
  color: #d100b2;
  font-size: 16px;
  font-weight: 400;
}

.socialMediaSection {
  display: flex;
  flex-direction: row;
  width: calc(93px * 4);
}

.socialMediaIconContainer {
  width: 93px;
  text-align: center;
  border-right: 0.5px solid #c8c8c8;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

@media (max-width: 770px) {
  .container {
    height: unset;
    padding: 40px 24px;
    gap: 5px;
  }

  .footerContent {
    justify-content: space-between;
    margin: 0;
    height: unset;
    gap: 56px;
  }
  .footerNav {
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
  }

  .policy {
    gap: 8px;
  }
  .termsContainer {
    gap: 5px;
  }
  .termsContainer > a > p,
  .termsContainer > p,
  .copyrightsContainer > a,
  .devName {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    color: #fff;
    line-height: normal;
  }

  .devName {
    color: #d100b2;
  }

  .socialMediaSection {
    flex-direction: column;
    justify-content: center;
    width: unset;
    gap: 24px;
  }

  .socialMediaIconContainer {
    width: 24px;
    border: 0;
    background: transparent !important;
  }

  .socialIcon {
    width: 24px !important;
    height: 24px !important;
  }
}
