.container {
  height: 235px;
  display: flex;
  position: relative;
  z-index: 1;
  background: #000000;
}

.backgroundImage {
  background-image: url("../../public//images/footerBackground.jpg");
  background-color: rgba(0, 0, 0, 0.5);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  mix-blend-mode: hard-light;
  opacity: 0.1;
  position: absolute;
  inset: 0;
  z-index: -1;
}

.footerContent {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 50px;
  gap: 35px;
  height: 235px;
}

.footerNav {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 100px;
}

.navTabs {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 40px;
}
.navTabs > a {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  color: #ffffff;
}

.policy {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.termsContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.policy > p,
.termsContainer > a > p {
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  color: #ffffff;
}

.logoContainer {
  width: 107px;
  height: 48px;
  position: relative;
}

.logoContainer > image {
  object-fit: contain;
  object-position: center;
}

.socialMediaSection {
  display: flex;
  flex-direction: row;
  width: calc(93px * 4);
}

.socialMediaIconContainer {
  width: 93px;
  text-align: center;
  border-right: 0.5px solid #c8c8c8;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
