.toggleBtn {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex: 1;
  width: 100%;
  cursor: pointer;
  user-select: none;
  border-radius: 5px;
  overflow: hidden;
}

.toggleBtn > p {
  flex: 1;
  text-align: center;
  line-height: 56px;
  font-size: 30px;
  background: #1e1e1e;
  transition: background 0.2s ease-in-out;
}

.toggleBtnActive {
  background: #d100b2 !important;
}

.chaptersContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  gap: 64px;
  width: 1329px;
}

.chapterBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 24px;
  gap: 32px;
  width: 329px;
  height: 152px;
  background: #1e1e1e;
  border-radius: 5px;
  cursor: pointer;
  user-select: none;
}

.chapterHeader {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 13px;
  height: 36px;
  width: 100%;
}

.chapterHeader > p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
}

.chapterFooter {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.chapterFooter > span:last-of-type {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 13px;
}

.showAllChapters {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 233px;
  height: 80px;
  background: #d100b2;
  border-radius: 5px;
  cursor: pointer;
}

.showAllChapters > p {
  font-weight: 600;
  font-size: 32px;
  color: #ffffff;
}
.showAllChapters > span {
  position: absolute;
  left: 93%;
}
