.toggleBtn {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  max-width: 1512px;
  height: 68px;
  cursor: pointer;
  user-select: none;
  border-radius: 5px;
  overflow: hidden;
}

.toggleBtn > p {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  background: #1e1e1e;
  transition: background 0.2s ease-in-out;
}

.toggleBtnActive {
  background: #d100b2 !important;
}

.chaptersContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
  max-width: 1060px;
  padding: 0 50px;
}

.chapterBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 16px 24px;
  gap: 20px;
  width: 245px;
  background: #1e1e1e;
  border-radius: 5px;
  cursor: pointer;
  user-select: none;
}

.chapterHeader {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 13px;
  height: 36px;
  width: 100%;
}

.chapterHeader > p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
}

.chapterFooter {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.chapterFooter > span:last-of-type {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 13px;
}

.showAllChapters {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 203px;
  height: 70px;
  padding: 16px 24px;
  margin-top: 40px;
  background: #d100b2;
  border-radius: 5px;
  cursor: pointer;
}

.showAllChapters > p {
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  color: #ffffff;
}
.showAllChapters > span {
  position: absolute;
  left: 93%;
}

.emptyChapters {
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
}

@media (max-width: 1024px) {
  .toggleBtn {
    height: unset;
  }
  .showAllChapters {
    width: unset;
    height: unset;
  }
  .toggleBtn > p {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    padding: 10px;
  }

  .showAllChapters > p {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
  }
  .showAllChapters > span {
    width: 48px !important;
    height: 48px !important;
  }

  .chaptersContainer {
    padding: 0;
    gap: 10px;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(185px, 1fr));
  }
  .chapterBox {
    padding: 10px 15px;
    gap: 10px;
    width: 185px;
  }
  .chapterHeader > p {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
  }

  .chapterFooter > span {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
  }

  .emptyChapters {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
  }
}
