.info {
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 24px;
  gap: 32px;

  max-width: 1254px;
  width: 100%;
  height: 508px;

  background: #1e1e1e;
  border-radius: 5px;
}

.imageContainer {
  width: unset !important;
  height: 100% !important;
}

.infoSection2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 32px;
}
.catSection {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 32px;
  max-width: 684px;
}

.statusContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
}

.status,
.firstChapterBtn {
  padding: 10px;
  background: #d100b2;
  border-radius: 5px;
  cursor: pointer;
  user-select: none;
}

.btns {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 80px;
  width: 950px;
}

.btns > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.story {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px;
  gap: 32px;

  width: 100%;
  max-width: 1404px;
  max-height: 408px;

  background: #1e1e1e;
  border-radius: 5px;
}

.storyHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  cursor: pointer;
}

.storyShowLess {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  line-clamp: 5;
  -webkit-line-clamp: 5;
  white-space: pre-wrap;
}

@media (max-width: 1370px) {
  .info {
    height: 408px;
  }

  .infoSection2 > h2 {
    font-size: 26px;
  }

  .catSection > p,
  .status,
  .firstChapterBtn,
  .infoSection2 > p {
    font-size: 20px;
  }

  .info {
    width: calc(100% - 140px * 2);
  }

  .btns {
    width: calc(100% - 206px * 2);
  }
  .btns > div {
    gap: 16px;
  }

  .story {
    width: calc(100% - 54px * 2);
  }

  .storyHeader > p {
    font-size: 26px !important;
  }

  .storyShowLess {
    font-size: 20px;
  }
}
