.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 80px;
  margin-top: 64px;
  margin-bottom: 160px;
  padding: 0 20px;
}

.headerContainer {
  width: 1210px;
  height: 531px;
  max-width: 100%;
  background-image: url("../public/images/headerImage.webp");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
  position: relative;
}

.headerContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 40px;
  gap: 40px;
  position: absolute;
  width: 480px;
  height: 301px;
  left: 240px;
  top: 114px;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 5px;
}

.headerInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.headerInfo > p:nth-child(1) {
  font-weight: 500;
  font-size: 16px;
  color: #000000;
}

.headerInfo > h2:nth-child(2) {
  font-weight: 700;
  font-size: 48px;
  color: #000000;
}

.headerInfo > p:nth-child(3) {
  font-weight: 500;
  font-size: 13px;
  color: #000000;
}

.headerButton {
  align-self: flex-end;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 102px;
  height: 29px;
  padding: 20px 10px;
  background: #b80202;
  border-radius: 5px;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  color: #ffffff;
}

.bodyContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
  max-width: 1060px;
}

.popularSection {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 40px;
  height: 946px;
  max-width: 1060px;
}

.hotContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 24px;
  flex: 1;
}

.hotContainer > h2 {
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  text-decoration-line: underline;
  color: #ffffff;
  align-self: flex-start;
}

.hotMangas {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 32px;
}

.recommendedContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  padding: 24px;
  width: 316px;
  background: #1e1e1e;
  border-radius: 5px;
}

.recommendedContainer > h2 {
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  text-decoration-line: underline;
  color: #ffffff;
}

.latestAddedContainer,
.trendyContainer,
.newsContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  width: 100%;
}
.latestAddedHeader,
.trendyHeader,
.newsHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.latestAddedHeader > h2,
.trendyHeader > h2,
.newsHeader > h2 {
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  text-decoration-line: underline;
  color: #ffffff;
}

.latestAddedHeader > p,
.trendyHeader > p,
.newsHeader > p {
  font-weight: 400;
  font-size: 24px;
  text-decoration-line: underline;
  color: #ffffff;
}

.latestAddedBody {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
}

.trendyBody {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.newsContainer {
  height: fit-content;
}
.newsBody {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100%;
}

@media (max-width: 1299px) {
  .bodyContainer {
    width: fit-content;
  }
}
