.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
  margin-top: 104px;
  margin-bottom: 100px;
}

.mangaSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 64px;
  width: 100%;
}

.chapterSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  max-width: 1512px;
  width: 100vw;
}

.recommendationSection {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1408px;
  width: calc(100% - 52px * 2);
}

@media screen and (max-width: 1024px) {
  .container {
    padding: 0 20px;
    margin: 25px 0;
  }

  .chapterSection {
    gap: 24px;
  }

  .recommendationSection {
    width: 100%;
  }
}
