.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: auto;
  max-width: 593px;
  gap: 23px;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  padding: 10px;
  max-width: 65px;
  height: 65px;
  background: #1e1e1e;
  border-radius: 5px;
  border: 0;
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
  text-align: center;
  color: #ffffff;
}

.active {
  background: #d100b2;
}
