.formLogin {
  margin: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loginHead {
  margin-bottom: 64px;
  height: 72px;
  font-weight: 700;
  font-size: 48px;
  line-height: 72px;
  color: #ffffff;
  padding-left: 0.2em;
  letter-spacing: 0.2em;
}
.inputsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 80px;
}

.loginSubmit {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 120px;
  width: 100%;
}
.loginSubmit > button {
  width: 171px;
  height: 58px;
  background: linear-gradient(107.32deg, #d100b2 19.21%, #0014ff 205.16%);
  border-radius: 5px;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: #ffffff;
}

.signupSubmit {
  display: flex;
  justify-content: center;
  margin-top: 55px;
  width: 100%;
}
.signupSubmit > button {
  background: linear-gradient(107.32deg, #d100b2 19.21%, #0014ff 205.16%);
  border-radius: 5px;
  width: 426px;
  height: 68px;
  font-weight: 500;
  font-size: 24px;
  color: #ffffff;
}

.forgotPw {
  width: 214px;
  height: 36px;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  color: #d100b2;
}

.thirdPartyloginContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 32px 85px;
  width: 872px;
  height: 104px;
  margin: auto;
}

.thirdPartyloginContainer > p,
.thirdPartyloginContainer > div > p {
  font-weight: 300;
  font-size: 24px;
  line-height: 36px;
  color: #ffffff;
}
