.container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.imageSide {
  position: relative;
  height: 982px;
  flex-grow: 1;
  background: url(/images/userFormBackground.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.backgroundImage {
  object-fit: cover;
  object-position: right;
}
.formSide {
  width: 760px;
  padding-left: 11px;
  height: 982px;
}

.selected {
  width: 255px;
  height: 179px;
  background: #000000;
  border: none;
  border-radius: 100px 0 0 100px;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: #ffffff;
  position: absolute;
}

.loginBtnPosition {
  right: 0;
  top: 250px;
}

.loginTextPosition {
  right: 72px;
  top: 310px;
}

.signBtnPosition {
  right: 0;
  top: 404px;
}

.signTextPosition {
  right: 45px;
  top: 465px;
}

.textNotSelected {
  position: absolute;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  color: #ffffff;
  z-index: 2;
}

.selected::before {
  content: "";
  position: absolute;

  background-color: transparent;
  bottom: -80px;
  right: 0;
  height: 78px;
  width: 85px;
  border-top-right-radius: 100%;
  box-shadow: 19px -24px 0px 19px #000000;
}

.selected::after {
  content: "";
  position: absolute;

  background-color: transparent;
  top: -80px;
  right: 0;
  height: 78px;
  width: 85px;
  border-bottom-right-radius: 100%;
  box-shadow: 19px 24px 0px 19px #000000;
}

.textSelected {
  z-index: 2;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  color: #d100b2;
  position: relative;
}

.background {
  position: absolute;
  inset: -5px;
  backdrop-filter: blur(7.5px);
  z-index: 1;
}

@media (max-width: 1024px) {
  .container {
    flex-direction: column;
  }

  .imageSide {
    height: 30vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    gap: 20px;
  }

  .selected,
  .loginBtnPosition,
  .signBtnPosition {
    position: unset;
    height: fit-content;
    padding: 5px 30px;
    width: fit-content;
    z-index: 2;
    border-radius: 100px 0 0 100px;
    background: #000000;
  }

  .selected::before,
  .selected::after {
    content: unset;
  }

  .textSelected,
  .textNotSelected {
    font-size: 24px;
  }

  .textNotSelected {
    position: unset;
  }

  .formSide {
    width: 100%;
    padding: 50px 30px 0 30px;
    max-width: 760px;
    height: fit-content;
  }

  .background {
    inset: 0;
  }
}
