.container {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.imageSide {
  position: relative;
  height: 982px;
  flex-grow: 1;
  filter: blur(7.5px);
}

.formSide {
  width: 884px;
  padding-left: 11px;
}
