.logoContainer {
  width: 150px;
  height: 48px;
  margin-right: 24px;
  position: relative;
  cursor: pointer;
}
.logo {
  width: 150px !important;
  height: 48px !important;
}

.chapterNumContainer {
  position: relative;
  display: flex;
  flex: 1;
  max-width: 384px;
}

.chapterNumInput {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
  border-bottom: 1px solid #ffffff;
  max-width: 384px;
  width: 100%;
  padding: 7px 5px;
  cursor: pointer;
  border: 1px solid white;
  border-radius: 5px;
}

.chapterNumIcon {
  width: 15px;
  height: 15px;
  display: flex;
  align-items: center;
  justify-items: center;
}

.chapterNumInput > p,
.chapterListContainer > li {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  color: #ffffff;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.chapterListContainer {
  position: absolute;
  top: 100%;
  max-height: 357px;
  overflow-y: auto;
  width: 100%;
  padding: 10px;
  background: #000000;
  border-radius: 0 0 5px 5px;
  z-index: 1;
}

.chapterNavigationButtonContainer,
.leftHeaderSection {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 40px;
}
.prevChapter,
.nextChapter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: #d100b2;
  border-radius: 5px;
  cursor: pointer;
}

.prevChapter {
  transform: rotate(90deg);
}
.nextChapter {
  transform: rotate(-90deg);
}

.settingsContainer {
  width: 20px;
  height: 20px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chapterOptionsContainer {
  display: block;
  position: absolute;
  top: 35px;
  right: -10px;
  width: fit-content;
  background-color: #1e1e1e;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  border-radius: 5px;
}
.chapterOption {
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 7px;
}
.chapterOptionText {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  white-space: nowrap;
}

@media screen and (max-width: 1024px) {
  .logoContainer {
    margin-right: auto;
  }

  .chapterNavigationButtonContainer,
  .leftHeaderSection {
    gap: 10px;
  }

  .settingsContainer,
  .settingsContainer > span,
  .leftHeaderSection > span,
  .settingsAddIcon {
    width: 16px !important;
    height: 16px !important;
  }
  .chapterNavigationButtonContainer > .prevChapter,
  .nextChapter {
    width: 24px;
    height: 24px;
  }

  .chapterArrowIcon {
    width: 8px !important;
    height: 5px !important;
  }

  .chapterOptionsContainer {
    top: 25px;
  }

  .chapterNumContainer {
    max-width: fit-content;
  }

  .chapterNumInput {
    gap: 10px;
    padding: 0 5px;
    border: 1px solid white;
    border-radius: 5px;
    height: 24px;
  }

  .chapterNumIcon {
    width: 10px;
    height: 10px;
  }
}
